.contact-blocks {
    display: flex;
    height: 449px;
    .contact-search {
        padding: 10px;
        position: relative;
        position: sticky;
        top: 0;
        background: white;
        z-index: 1;
        &::before {
            display: block;
            content: "";
            width: 16px;
            height: 16px;
            position: absolute;
            z-index: 1;
            top: 19px;
            left: 16px;
            background: url("../../images/edit-find.png");
            opacity: 0.5;
        }
    }
    .contact-error-msg {
        font: 11pt/14pt "Cantarell";
        color: #ff0000;
        padding: 0 22px 15px;
    }
    .contact-list {
        position: relative;
        width: 270px;
        height: inherit;
        overflow: auto;
        border-left: 1px solid #c1bab5;
        border-right: 1px solid #c1bab5;
        border-bottom: 1px solid #c1bab5;
        border-radius: 0 0 0 10px;
        .contact-list__item {
            display: flex;
            &.contact-list__item--active, &.contact-list__item--active:hover {
                background: #3584E4;
                & .contact-list__img {
                    background: #ffffff;
                    font: 12pt/15pt "Cantarell";
                    color: #3081e3;
                }
                & .contact-list__user {
                    color: #ffffff;
                }
            }
            &:hover {
                background: #F6F5F4;
                & .contact-list__img {
                    background: #ffffff;
                    color: #3081e3;
                }
            }
        }
    }
    .contact-form {
        .header {
            margin: 30px 22px 0;
        }
        .empty-contact-item {
            margin: 30px 22px;
            font: 11pt/14pt "Cantarell";
        }
        border-right: 1px solid #c1bab5;
        border-bottom: 1px solid #c1bab5;
        border-radius: 0 0 10px;
        flex: 1;
        background: #F6F5F4;
    }
    .contact-block__unit {
        font: 12pt/15pt "Cantarell";
        color: #2E3436;
        margin: 0 22px 10px;
    }
    .contact-list__img {
        margin: 8px;
        height: 32px;
        width: 32px;
        border-radius: 16px;
        background: #F6F5F4;
        font: 12pt/15pt "Cantarell";
        color: #2E3436;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-list__user {
        padding: 15px 0 13px;
        font: 12pt/15pt "Cantarell";
        color: #2E3436;
    }
}