.sign-inner-menu {
    background: #e6e4e1;
    border-radius: 10px 10px 0 0;
    border: 1px solid #c1bab5;
}
.sign {
    width: 50vw;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(187, 186, 186, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(187, 186, 186, 1);
    box-shadow: 0px 0px 15px 0px rgba(187, 186, 186, 1);
    .sign-blocks {
        display: flex;
        flex-direction: row;
        background: #f8f7f7;
        border-left: 1px solid #c1bab5;
        border-right: 1px solid #c1bab5;
        border-bottom: 1px solid #c1bab5;
        border-radius: 0 0 10px 10px;
        justify-content: center;
    }
    .sign-menu {
        .sign-inner-menu, .contact-inner-menu {
            display: flex;
            justify-content: center;
        }
    }  
}
.tab-switcher {
    font: 11pt "Cantarell";
    color: #2E3436;
    display: flex;
    align-items: center;
    .tab-label {
        padding: 17px 24px;
        cursor: pointer;
        &__select {
            cursor: pointer;
            background: #D8D5CF;
            border-left: 1px solid #c1bab5;
            border-right: 1px solid #c1bab5;
        }
    }
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
body {
    margin: 0;
    height: 100vh;
}
.root {
    height: 100vh;
}
.submit-btn {
    padding: 7px 15px;
    border-radius: 6px;
    border: 1px solid #1B6ACB;
    background: linear-gradient(#3483E4, #2379E2);
    font: 11pt/14pt Cantarell;
    color: #ffffff;
}
.error-msg {
    font: 11pt/14pt Cantarell;
    color: #ff0000;
}

.search {
    height: 33px;
    outline: 1px solid #CDC7C2;
    border: 0;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 8px 10px 27px;
    font: 11pt/14pt Cantarell;
    color: #2E3436;
    position: relative;
    &:focus {
        outline: 2px solid #3584E4;
    }
    
}
.contact-fieldmap {
    margin: 0 22px 32px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #DCD7D4;
    .params {
        border-bottom: 1px solid #DCD7D4;
        &:last-child {
            border-bottom: none;
        }
    }
    .params-label {
        display: flex;
    }
    .params-name {
        padding: 21px 20px;
        width: 200px;
        font: 11pt/14pt Cantarell;
        color: #2E3436;
    }
    .contact-params {
        display: flex;
        align-items: center;
        flex: 1;
        margin-right: 15px;
        position: relative;
    }
    .phone, .name, .email {
        height: 33px;
        outline: 1px solid #CDC7C2;
        border: 0;
        border-radius: 6px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 8px 10px 27px;
        font: 11pt/14pt Cantarell;
        color: #2E3436;
        position: relative;
        &:focus {
            outline: 2px solid #3584E4;
        }
    }
}
.contact-group {
    padding: 7px 12px;
    font: 11pt/14pt Cantarell;
    color: #2E3436;
    width: 100%;
    border: 1px solid #CDC7C2;
    border-radius: 6px;
    background: linear-gradient(#F6F5F3, #EDEBE9);
    &:hover {
        background: #F8F8F7;
    }
    select {
        background: #2379E2;
    }
}

.add-contact {
    height: 38px;
    width: 38px;
    margin: 8px;
    background: linear-gradient(#F6F5F3, #EDEBE9);
    border: 1px solid #CDC7C2;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: #F8F8F7;
    }
    &:active {
        background: #CFCAC4;
    }
}
.logout-contact {
    height: 38px;
    width: 38px;
    margin: 8px 8px 8px auto;
    background: linear-gradient(#F6F5F3, #EDEBE9);
    border: 1px solid #CDC7C2;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: #F8F8F7;
    }
    &:active {
       background: #CFCAC4;
    }
}
.remove-contact {
    height: 38px;
    width: 38px;
    margin: 8px;
    margin-left: 0;
    background: linear-gradient(#F6F5F3, #EDEBE9);
    border: 1px solid #CDC7C2;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: #F8F8F7;
    }
    &:active {
        background: #CFCAC4;
    }
}
.save-contact {
    margin: 8px;
    .save-contact__btn, .save-contact__cancel {
        padding: 9px 15px;
        border-radius: 6px;
        border: 1px solid #1B6ACB;
        background: linear-gradient(#3483E4, #2379E2);
        font: 11pt/14pt Cantarell;
        color: #ffffff;
        &:disabled {
            background: #FAF9F8;
            color: #B6B8B8;
            border: 1px solid #B6B8B8;
        }
    }
    .save-contact__cancel {
        margin-left: 10px;
    }
}
.contact-menu {
    display: flex;
    justify-content: space-between;
}
.manage-btn-contact {
    display: flex;
    width: 270px;
    border-right: 1px solid #c1bab5;
}