.reg-block {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 15px;

    .reg-block__label {
        font: 11pt/14pt Cantarell;
        color: #2E3436;
    }
    .reg-block-form {
        flex-grow: 1;
        .reg-block-data {
            padding: 15px 15px 0;
            border-left: 1px solid #c1bab5;
            border-top: 1px solid #c1bab5;
            border-right: 1px solid #c1bab5;
            border-radius: 10px 10px 0 0;
            background: #ffffff;
            div {
                padding-bottom: 15px;
            }
        }
        .reg-block-send {
            padding: 15px;
            background: #E8E8E8;
            border: 1px solid #c1bab5;
            border-radius: 0 0 10px 10px;
        }
    }
    .reg-block__login, .reg-block__pass {
        height: 33px;
        outline: 1px solid #CDC7C2;
        border: 0;
        border-radius: 6px;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        padding: 10px 8px;
        margin: 10px 0 0;
        font: 11pt/14pt Cantarell;
        color: #2E3436;
        &:focus {
            outline: 2px solid #3584E4;
        }
    }
}